/********************************************************************************************
 0. STYLES FOR MOBILE DEVICES - media screen max-width: 768px (removes animation for mobile devices) (line 24)
 1. STYLES FOR MOBILE DEVICES - media screen max width: 400px (line 55)
 2. STYLES FOR MOBILE DEVICES - media screen min width: 401px / max width: 575px (line ---)
 3. STYLES FOR MOBILE DEVICES - media screen min width: 576px / max width: 649px (line ---) 
 4. STYLES FOR MOBILE DEVICES - media screen min width: 650px / max width: 767px (line ---)
 5. STYLES FOR MOBILE DEVICES - media screen min width: 768px / max width: 991px (line ---)
 6. STYLES FOR MOBILE DEVICES - media screen min width: 992px / max width: 1199px (line ---)
 7. STYLES FOR MOBILE DEVICES - media screen min width: 1200px / max width: 1279px (line ---)
 8. STYLES FOR MOBILE DEVICES - media screen min width: 1280px / max width: 1365px (line ---)
 9. STYLES FOR MOBILE DEVICES - media screen min width: 1366px / max width: 1535px (line ---)
 10. STYLES FOR MOBILE DEVICES - media screen min width: 1536px / max width: 1679px (line ---)
 11. STYLES FOR MOBILE DEVICES - media screen min width: 1680px / max width: 1919px (line ---)
 
*********************************************************************************************/


/*-- 0. STYLES FOR MOBILE DEVICES - media screen max-width: 768px --*/
@media screen and (max-width: 768px) {
  footer#colophon .main-footer .copy-column .copy-text {width: 100%;}
 
  footer#colophon .main-footer .socials-column .link-container{padding: 0.5rem 0;}
  footer#colophon .main-footer .contact-column .phone .link-container{padding: 0.5rem 0;}
}

/* -- MOBILE MENU -- */
@media screen and (max-width: 1199px) {
  header#masthead .navbar-toggler {
    z-index: 1030;
    position: fixed;
    border: none;
  }

  header#masthead .navbar ul#menu-main-new li {
    padding: 2rem 0 0;
  }

  header#masthead .navbar ul#menu-main-new ul.dropdown-menu li {
    padding: 1rem 0 0 1rem;
  }

  header#masthead .navbar-toggler {
    height: calc(1.25rem*1.2 + 0.5rem*2);
  }

  header#masthead .navbar-toggler .navbar-icon-custom {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 3px;
    display: inline-block;
    border-radius: 20px;
    background-color: var(--green);
    transform: translate(-50%, -50%);
    transition: background-color 2s ease;
  }
  header#masthead .navbar-toggler.collapsed .navbar-icon-custom {
    background-color: var(--white);
  }

  header#masthead .navbar-toggler .navbar-icon-custom.top,
  header#masthead .navbar-toggler .navbar-icon-custom.bottom {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 3px;
    display: inline-block;
    border-radius: 20px;
    background-color: var(--white);
  }

  header#masthead .navbar-toggler.collapsed .navbar-icon-custom.top{transform: translate(-50%, -300%);}
  header#masthead .navbar-toggler.collapsed .navbar-icon-custom.bottom{transform: translate(-50%, 200%);}
  header#masthead .navbar-toggler .navbar-icon-custom.top{transform: translate(-50%, -50%) rotate(45deg);}
  header#masthead .navbar-toggler .navbar-icon-custom.bottom{transform: translate(-50%, -50%) rotate(-45deg);}

  header#masthead .navbar-toggler.collapsed .navbar-icon-custom.top {
    animation-direction: reverse;
    animation-fill-mode: backwards;
  }

  header#masthead .navbar-toggler .navbar-icon-custom.top {
    /* animation-name: togglerBarTop; */
    animation-direction: normal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  header#masthead .navbar-toggler.collapsed .navbar-icon-custom.bottom {
    animation-direction: reverse;
    animation-fill-mode: backwards;
  }

  header#masthead .navbar-toggler .navbar-icon-custom.bottom {
    /* animation-name: togglerBarBottom; */
    animation-direction: normal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes togglerBarTop {
    0%   {transform: translate(-50%, -300%);}
    50%  {transform: translate(50%, -300%);}
    100% {transform: translate(-50%, -50%) rotate(45deg);}
  }

  @keyframes togglerBarBottom {
    0%   {transform: translate(-50%, 200%);}
    50%  {transform: translate(50%, 200%);}
    100% {transform: translate(-50%, -50%) rotate(-45deg);}
  }
}

/*-- 1. STYLES FOR MOBILE DEVICES - media screen max width: 400px --*/
@media only screen and (max-width: 400px) {
  html, body {font-size: 12px;}
  h1, .h1 {font-size: 2.5rem;}
  h2, .h2 {font-size: 2rem;}
  h3, .h3 {font-size: 1.5rem;}
  h4, .h4 {font-size: 1.25rem;}
  h5, .h5 {font-size: 1.2rem;}
  h6, .h6 {font-size: 1.1rem;}

  header#masthead{height: calc(1.1rem*1.2 + 0.5rem*2);}
  header#masthead .navbar-toggler {height: calc(1.1rem*1.2 + 0.5rem*2);}
}

/*-- 2. STYLES FOR MOBILE DEVICES - media screen min width: 401px / max width: 575px --*/
@media screen and (min-width: 401px) and (max-width: 575px) {
  html, body {font-size: 14px;}
  h1, .h1 {font-size: 2.5rem;}
  h2, .h2 {font-size: 2rem;}
  h3, .h3 {font-size: 1.5rem;}
  h4, .h4 {font-size: 1.25rem;}
  h5, .h5 {font-size: 1.2rem;}
  h6, .h6 {font-size: 1.1rem;}

  header#masthead{height: calc(1.1rem*1.2 + 0.5rem*2);}
  header#masthead .navbar-toggler {height: calc(1.1rem*1.2 + 0.5rem*2);}
}

/*-- 3. STYLES FOR MOBILE DEVICES - media screen min width: 576px / max width: 649px --*/
@media screen and (min-width: 576px) and (max-width: 649px) {
  html, body {font-size: 14px;}
  h1, .h1 {font-size: 2.75rem;}
  h2, .h2 {font-size: 2.25rem;}
  h3, .h3 {font-size: 1.75rem;}
  h4, .h4 {font-size: 1.5rem;}
  h5, .h5 {font-size: 1.25rem;}
  h6, .h6 {font-size: 1.1rem;}

  header#masthead{height: calc(1.1rem*1.2 + 0.5rem*2);}
  header#masthead .navbar-toggler {height: calc(1.1rem*1.2 + 0.5rem*2);}
}

/*-- 4. STYLES FOR MOBILE DEVICES - media screen min width: 650px / max width: 767px --*/
@media screen and (min-width: 650px) and (max-width: 767px) {
  html, body {font-size: 14px;}
  h1, .h1 {font-size: 2.75rem;}
  h2, .h2 {font-size: 2.25rem;}
  h3, .h3 {font-size: 1.75rem;}
  h4, .h4 {font-size: 1.5rem;}
  h5, .h5 {font-size: 1.25rem;}
  h6, .h6 {font-size: 1.1rem;}

  header#masthead{height: calc(1.1rem*1.2 + 0.5rem*2);}
  header#masthead .navbar-toggler {height: calc(1.1rem*1.2 + 0.5rem*2);}
}

/*-- 5. STYLES FOR DESKTOP DEVICES - media screen min width: 769px / max width: 991px --*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  html, body {font-size: 14px;}

  footer#colophon .main-footer .copy-column .copy-text {width: 80%;}
}

/*-- 6. STYLES FOR MOBILE DEVICES - media screen min width: 992px / max width: 1199px --*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  html, body {font-size: 14px;}

  footer#colophon .main-footer .copy-column .copy-text {width: 80%;}
}

/*-- 7. STYLES FOR MOBILE DEVICES - media screen min width: 1200px / max width: 1279px --*/
@media screen and (min-width: 1200px) and (max-width: 1279px) {
  html, body {font-size: 14px;}

  header#masthead .navbar ul#menu-main-new li a,
  header#masthead .navbar ul#menu-new-shop-menu li a {padding: 0rem 1rem;}
}

/*-- 8. STYLES FOR MOBILE DEVICES - media screen min width: 1280px / max width: 1365px --*/
@media screen and (min-width: 1280px) and (max-width: 1365px) {
  html, body {font-size: 14px;}

  header#masthead .navbar ul#menu-main-new li a,
  header#masthead .navbar ul#menu-new-shop-menu li a {padding: 0rem 1rem;}
}

/*-- 9. STYLES FOR MOBILE DEVICES - media screen min width: 1366px / max width: 1535px --*/
@media screen and (min-width: 1366px) and (max-width: 1535px) {
  html, body {font-size: 14px;}

  header#masthead .navbar ul#menu-main-new li a,
  header#masthead .navbar ul#menu-new-shop-menu li a {padding: 0rem 1rem;}
}

/*-- 10. STYLES FOR MOBILE DEVICES - media screen min width: 1536px / max width: 1679px --*/
@media screen and (min-width: 1536px) and (max-width: 1679px) {}

/*-- 11. STYLES FOR MOBILE DEVICES - media screen min width: 1680px / max width: 1919px --*/
@media screen and (min-width: 1680px) and (max-width: 1919px) {
  html, body {font-size: 18px;}
  h1, .h1 {font-size: 2.75rem;}
  h2, .h2 {font-size: 2.25rem;}
  h3, .h3 {font-size: 1.75rem;}
  h4, .h4 {font-size: 1.5rem;}
  h5, .h5 {font-size: 1.25rem;}
  h6, .h6 {font-size: 1.1rem;}
}

/*-- 12. STYLES FOR MOBILE DEVICES - media screen min width: 1920px --*/
@media screen and (min-width: 1920px) {
  html, body {font-size: 18px;}
  h1, .h1 {font-size: 2.75rem;}
  h2, .h2 {font-size: 2.25rem;}
  h3, .h3 {font-size: 1.75rem;}
  h4, .h4 {font-size: 1.5rem;}
  h5, .h5 {font-size: 1.25rem;}
  h6, .h6 {font-size: 1.1rem;}
}


